<link rel="stylesheet" href="/styles/test.css" type="text/css" />

<input class="c-checkbox" type="checkbox" id="checkbox">
<div class="c-formContainer">
  <form class="c-form" action="">
    <input class="c-form__input" placeholder="E-mail" type="email">
    <label class="c-form__buttonLabel" for="checkbox">
      <button class="c-form__button" type="button">Create New Map</button>
    </label>
    <label class="c-form__toggle" for="checkbox" data-title="Post Map"></label>
  </form>
</div>
